<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:insert="~{::title}">MyPortfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- <link rel="stylesheet" href="/css/cursor.css" /> -->
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main th:fragment="content"></main>
    
    <!-- 커스텀 커서 JavaScript -->
    <!-- <script src="/js/cursor.js"></script> -->
</body>
</html> 